.container {
  background-color: white;
  border-radius: 5px;
  overflow: auto;
  position: relative;
  .phantom {
    width: 100%;
  }
  .listBox {
    width: 100%;
    position: absolute;
    top: 0;
    .listItem {
      border: 1px solid #ccc;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
